# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\sting\Desktop\Documents\UoM\COMP90015_DistrubutedSystem\Assignment1\DictionaryClient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
